<% @result.each do |shadow| %>
<% desc = []
   shadow.tags.each do |t| 
       if t.key == "hot:hospital:director_name" 
           desc.push "Director Name: #{t.value}"
       elsif t.key == "hot:simple:director_mobile"
           desc.push "Director Mobile: #{t.value}"
       end
   end

%>
   <tr>
   <td><a href="<%= osm_shadow_path(shadow) %>" title="View Object"><img src="<%= asset_path 'snow/view.png' %>" width="20" /></a></td>
   <td><%= shadow.osm_id %></td>
   <td><%= shadow.osm_type %></td>
   <td><%= desc.join(" - ") %></td>
   </tr>
<% end %>