<% @result.each do |shadow| %>
<% desc = []
   shadow.tags.each do |t| 
       if t.key == "hot:simple:name" 
           desc.push "Name: #{t.value}"
       elsif t.key == "hot:simple:mobile"
           desc.push "Mobile: #{t.value}"
       end
   end

%>
   <tr>
   <td>
      <a href="<%= osm_shadow_path(shadow) %>" title="View Object"><img src="<%= asset_path 'snow/view.png' %>" width="20" /></a>
      </td>
   <td><%= shadow.osm_id %></td>
   <td><%= shadow.osm_type %></td>
   <td><%= desc.join(" - ") %></td>
   </tr>
<% end %>
