<script type="text/javascript">
$(document).ready(function() {

   var new_project;
   $("#current_user_project_id").change(function() {
      $("#current_user_project_id option:selected").each(function() {
         new_project =$(this).val();
      });
      $("#change_project").val(new_project);
      
   });
});
</script>
<h1><%= t".head" %></h1>
<p><%= t".desc" %></p>

<p><%= t".or" %>: <%= link_to "#{t".mapsearch_link"}", mapsearch_path %></p>


<h2><%= t".searched" %>:</h2>
<%= form_tag("/tagsearch", :method => "get") do %>
<%= hidden_field_tag("change_project", @active_project.id) %>
<table class="osm_shadow">
<tr>
  <th><%= t".selproj" %></th>
   <td><%= select_tag(nil, options_for_select(current_user.projects.collect {|v,i| [v.name, v.id]}, :selected => @active_project.id),{:class => 'change_project', :id=>"current_user_project_id"}) %> </td>
   <td><%# collection_select(:current_user, :project_id, current_user.projects, :id, :name, {}, {:class => 'users_project'}) %></td>
</tr>
<tr>
  <th><%= t".search_head" %></th>
   <td><input type="text" name="tagstring" value="<%= params[:tagstring] %>" /></td>
</tr>
<tr>
   <td colspan="2"><input type="submit" value="search" /></td>
</tr>
</table>
<% end %>

<% if !params[:tagstring].blank? %>
  <h2><%= t".results" %></h2>

<% if @result.length == 0 %>
  <p><%= t".none" %></p>
<% else %>

   <%= render :partial => 'osm_shadow', :object => @result %>

<% end %>

<% end %>
