<%= form_tag update_password_path, :method => :put do |f| -%>

  <table>
    <tr>
      <td><%= label_tag :old_password %></td>
      <td><%= password_field_tag :old_password, {}, :size => 45, :class => 'text' %></td>
    </tr>
    <tr>
      <td><%= label_tag :password %></td>
      <td><%= password_field_tag :password, {}, :size => 45, :class => 'text' %></td>
    </tr>
    <tr>
      <td><%= label_tag :password_confirmation %></td>
      <td><%= password_field_tag :password_confirmation , {}, :size => 45, :class => 'text' %></td>
    </tr>
  </table>
       
<%= submit_tag "#{t".change_password"}" %>
    
<% end -%>
