<h1><%= @title %> </h1>
<%= render :partial => "users_sidebar" %>
<div>
  <% if @project %>
  <p><%= link_to "View all users", users_path %></p>
  <% end %>
<p>
<a href="#" title="<%= t".hide_show" %>" class="jq_users_hide_inactive">
<img src="<%= asset_path 'snow/edit.png' %>" width="20" />
<%= t".hide_show" %>
</a>
</p>

<table class="users">
<tr>
   <th></th>
   <th><%= t"users.firstname" %></th>
   <th><%= t"users.lastname" %></th>
   <th><%= t"users.email" %></th>
   <th><%= t"users.projects" %></th>
</tr>
   <%= render @users %>
</table>
</div>
