<h1><%= @title %> </h1>
<%= render :partial => "users_sidebar" %>
<div>
  <% if @project %>
  <p><%= link_to "View all users", users_path %></p>
  <% end %>
<p>
<a href="#" title="Hide/show inactive users" class="jq_users_hide_inactive">
<img src="<%= asset_path 'snow/edit.png' %>" width="20" />
Hide/show inactive users
</a>
</p>

<table class="users">
<tr>
   <th></th>
   <th>Firstname</th>
   <th>Lastname</th>
   <th>Email</th>
   <th>Projects</th>
</tr>
   <%= render @users %>
</table>
</div>
