<div class="expert_view" id="expert_view_<%=@osm_shadow.id%>">
<h3>Expert View</h3>
<% if @tags.length == 0 %>
   <div class="osm_shadow_no_tags">No Tags saved for this object.</div>
<% else %>
   <table class="osm_shadow">
   <tr>
      <th>Key</th>
      <th>Value</th>
   </tr>
   <% @tags.each do |t| %>
      <tr>
         <td><%= t.key %></td>
         <td><%= t.value %></td>
      </tr>
   <% end %>
   </table>
<% end %>
</div>
<script type="text/javascript">
   // expert view
   var ex<%=@osm_shadow.id%> = $("#expert_view_<%=@osm_shadow.id%>");
   ex<%=@osm_shadow.id%>.hide();
   $("#jq_expert_view_<%=@osm_shadow.id%>").click(function(e) {
      e.preventDefault();
      ex<%=@osm_shadow.id%>.toggle();   
   });
</script>
