<script type="text/javascript">
OpenLayers.ImgPath = "/assets/openlayers/";
var map;
var proj4326;
var projmerc;
var browseBounds;
var tileBounds;
var browseDataLayer;
$(document).ready(function() {
    initmap();
});

function initmap() 
{
    proj4326 = new OpenLayers.Projection("EPSG:4326");
    projmerc = new OpenLayers.Projection("EPSG:900913");

    map = new OpenLayers.Map("osm_object_map", {
      controls: [
         new OpenLayers.Control.Navigation()
      ],
      units: "m",
      maxResolution: 156543.0339,
      numZoomLevels: 20,
      displayProjection: proj4326
   });

   var mapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik", {
      keyid: "mapnik",
      displayOutsideMaxExtent: true,
      wrapDateLine: true
   });
   map.addLayer(mapnik);

   // FIXME: do not add /full if object is a node
   var url = "/osmapi/<%= @osm_shadow.osm_type %>/<%= @osm_shadow.osm_id %>/full";

   var layer = new OpenLayers.Layer.GML("Object", url, {
      format: OpenLayers.Format.OSM,
      style: {
          strokeColor: "red",
          strokeWidth: 4,
          strokeOpacity: 0.7,
          fillOpacity: 0.2,
          fillColor: "lightred",
          pointRadius: 6
      },
      projection: proj4326
   });

   layer.events.register("loadend", layer, function() {
      var extent;

      if (this.features.length) {
        if (this.features[0].attributes){
         display_attributes(this.features[0].attributes)
        }

         extent = this.features[0].geometry.getBounds();
         if (extent) {
            this.map.zoomToExtent(extent.scale(2));
            mapsearch_link(this.map.getCenter(), this.map.getZoom())
            josm_link(extent.scale(3), '<%= @osm_shadow.osm_type %>', '<%= @osm_shadow.osm_id %>')
         } else {
            this.map.zoomToMaxExtent();
         }
      }
   });

   layer.requestFailure = function(req){
     $("#osm_object_map").html("<%= t".osm_error" %> ")
   };

   map.addLayer(layer);
   layer.loadGML();
}

//changes the josm remote control link to load the surrounding area.
function josm_link(extent, osm_type, osm_id){
  var proj = new OpenLayers.Projection("EPSG:4326");
  extent = extent.transform(map.getProjectionObject(), proj );
  var left = extent.left;
  var right = extent.right;
  var top = extent.top;
  var bottom = extent.bottom;
  var url = "​http://abc.com/load_and_zoom?left="+left+"&right="+right+"&top="+top+"&bottom="+bottom+"&select="+osm_type+osm_id;
  $("a.josm_remote_link").attr("href", "http://localhost:8111/load_and_zoom?left="+left+"&right="+right+"&top="+top+"&bottom="+bottom+"&select="+osm_type+osm_id);
}

function mapsearch_link(center, zoom){
  var proj = new OpenLayers.Projection("EPSG:4326");
  var newcenter = center.transform(map.getProjectionObject(), proj )
  $("a#mapsearch_link").attr("href", "<%= mapsearch_path %>?lat="+newcenter.lat+"&lon="+newcenter.lon+"&zoom="+zoom );
}

function display_attributes(attributes){
  if (attributes.name){
    $('#osm_name').text("Name: "+ attributes.name);
  }
  if (attributes){
    $.each(attributes, function(key, value) {
      var li = document.createElement("li")
      li.innerHTML = key + " : " + value ;
      $('#osm_attributes_list').append(li)
    });
  }
}

</script>
<script type="text/javascript">
  jQuery.extend({
  //Function parseQuerystring
  //Copyright (c) 2011 Paul Gueller paul(dot)gueller(at)gmail(dot)com
  //Dual licensed under MIT and GPL.
  //Date: 26-April-2011
  //@author Paul Gueller
  //@version 1.0.2
   parseQuerystring: function(){
      var nvpair = {};
      var qs = window.location.search.replace('?', '');
      var pairs = qs.split('&');
      $.each(pairs, function(i, v){
        var pair = v.split('=');
        nvpair[pair[0]] = pair[1];
      });
      return nvpair;
    }
  });
$(document).ready(function() {


   // change project
   var cp = $("#change_project");
   cp.hide();

   $("#change_project_show").click(function(e) {
      e.preventDefault();
      cp.toggle();
   });

   var project;
   var href;
   cp.change(function() {
      $("#change_project option:selected").each(function() {
         project = $(this).val();
      });
      var query_array = jQuery.parseQuerystring()
      query_array["change_project"] = project
      var query_string = "?"
      $.each(query_array, function(i, v){
       if (v != undefined){
         query_string = query_string + i+"="+v + "&";
       }
      })
      var change_href = window.location.pathname + query_string

      window.location.href = change_href;
   }); 


   $("#osm_attributes_link").click(function(e) {
      e.preventDefault();
      $("#osm_attributes_list").toggle();
   });

});
</script>
<div class="osm_object">
  <h2><%= t".h2" %></h2>
<ul>
<li><%= @active_project.name  %></li>
<li>
   <% if @active_project.preset_filename %>
      Preset: <%= link_to @active_project.preset_filename, @active_project.preset_public_path  %>
   <% end %>
</li>

<% if ["show", "edit", "list"].include?(params['action']) && !@osm_shadow.new_record? %>
  <li><%= t".lastmod" %>: <%= @osm_shadow.created_at.strftime("%Y-%m-%d") %></li>
  <li><%= t".by" %>: <%= "#{@osm_shadow.changeset.user.firstname} #{@osm_shadow.changeset.user.lastname}" %></li>
<% end %>

  <li><a href="#" id="change_project_show"><img src="<%= asset_path 'snow/edit.png' %>" width="20" /><%= t"chproj" %></a></li>
</ul>

<div id="change_project">
<%= select_tag(nil, options_for_select(current_user.projects.collect {|v,i| [v.name, v.id]}, :selected => @active_project.id),{:class => 'change_project'}) %>
</div>

  <h2><%= t".hother" %></h2>
<ul>
   <li>
     <% if @osm_shadow.sibling_count %>
      <%= link_to "View #{@osm_shadow.sibling_count} Records", list_shadows_path(@osm_shadow.osm_type, @osm_shadow.osm_id) %> <%= t".siblings" %>.
     <% end  %>
   </li>
</ul>
  <h2><%= t".osmprops" %></h2>
<ul>
<li>OSM ID: <%= @osm_shadow.osm_id %></li>
<li>OSM Type: <%= @osm_shadow.osm_type %></li>
<li id="osm_name"></li>
</ul>
  <p><a href="#" id="osm_attributes_link"><%= t".more" %></a></p>
  <ul id="osm_attributes_list" style="display:none">
    
  </ul>
<div id="osm_object_map" class="osm_object_map">
  <div id="view_in_mapsearch"><a id="mapsearch_link" href="#"><%= t".view_map" %></a></div>
</div>
  <p>
    <a href="http://localhost:8111/load_object?new_layer=true&objects=<%=@osm_shadow.osm_type%><%=@osm_shadow.osm_id%>" 
       class="josm_remote_link" target="_blank"><%= t".josm_link" %></a>
  </p>
</div>

