<script type="text/javascript" src="<%= asset_path 'jquery-validation-1.9.0/jquery.validate.min.js' %>"></script>
<script type="text/javascript" src="<%= asset_path 'jquery-datepicker/js/jquery-ui-1.8.16.custom.min.js' %>"></script>
<link href="<%= asset_path 'jquery-datepicker/css/smoothness/jquery-ui-1.8.16.custom.css' %>" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(document).ready(function() {
   $("#osm_shadows_form").validate();
});
</script>
<style type="text/css">
.ui-datepicker { width: 15em; }
.ui-widget { font-size: 0.9em; }
</style>
<%
   # this hash has the names, in English and Bahasa Indonesia, for 
   # each of the special tags we are using.
   @fields = [
       { :tag => 'hot:simple:name',
         :type => 'text',
         :en => "Name" },
       { :tag => 'hot:simple:mobile',
         :type => 'text',
         :en => "Mobile", :id => "Nomor Handphone" },
       { :tag => 'hot:simple:date',
         :type => 'date',
         :en => "Date", :id => "Tanggal" },
       { :tag => 'hot:simple:choice',
         :type => 'select',
         :options => ['yes','no','maybe','of course'],
         :en => "Choice" }
   ]
%>


<% if params['action'] == "show" || params['action'] == "list" %>
   <table class="osm_shadow">
   <% @fields.each do |field| %>
   <tr>
      <th>
      <% if field.has_key?(:id) %>
      <%= field[:id] %><br /><span class="english">(<%= field[:en] %>)</span>
      <% else %>
      <%= field[:en] %>
      <% end %>
      </th>
      <td>
         <% if field[:type] == 'url' %>
            <%= link_to @taghash[field[:tag]], @taghash[field[:tag]] %>
         <% else %>
            <%= @taghash[field[:tag]] %>
         <% end %>
      </td>
   </tr>
   <% end %>
   </table>
<% end %>


<% if params['action'] == "new" || params['action'] == "edit" %>

  <%= form_for @osm_shadow do | form |  %>
    <%= form.hidden_field :osm_id %>
    <%= form.hidden_field :osm_type %>

    <table class="osm_shadow">
      
      <% @fields.each_with_index do | field, i | %>
        <tr>
          <th>
            <% if field.has_key?(:id) %>
              <%= field[:id] %><br><span class="english">(<%= field[:en] %>)</span>
            <% else %>
              <%= field[:en] %>
            <% end %>
          </th>
          <td>
            <%  if exist_tag  = @tags.find{|f| f.key == field[:tag]}
              tag_value = exist_tag.value
            else
              tag_value = nil
            end
          %>
            <%= hidden_field_tag "osm_shadow[tags_attributes][#{i}][key]", "#{field[:tag]}"%>
            <%if exist_tag %>
              <%= hidden_field_tag "osm_shadow[tags_attributes][#{i}][id]", "#{exist_tag.id}"%>
            <% end %>
            <% if field[:type] == 'text' %>
              <%= text_field_tag "osm_shadow[tags_attributes][#{i}][value]", tag_value %>
            <% elsif field[:type] == 'date' %>
              <% date_tag_cls ="date_tag"+ rand(1000).to_s(8) %>
              <%= text_field_tag "osm_shadow[tags_attributes][#{i}][value]", tag_value, :class => date_tag_cls %>
              <script type="text/javascript">
                $(function() {
                  $(".<%= date_tag_cls %>")
                  .datepicker({ dateFormat: 'yy-mm-dd' })
                  .css({'width' : '220px'});
                });
              </script>
            <% elsif field[:type] == 'url' %>
              <%= text_field_tag "osm_shadow[tags_attributes][#{i}][value]", tag_value, :class => 'url' %>
            <% elsif field[:type] == 'select' %>
              <%= select_tag "osm_shadow[tags_attributes][#{i}][value]", options_for_select((field[:options] + [@taghash[field[:tag]]]).uniq, @taghash[field[:tag]]) %>
            <% end %>

          </td>
        </tr>

      <% end #fields %>

    </table>


    <div class="osm_shadow_submit">
      <%= submit_tag("Save Tags") %>
      <% if params[:action] == "edit" then %>
        <a href="<%= osm_shadow_path(@osm_shadow)%>" >
        <% else %>
          <a href="<%= mapsearch_path %>">
          <% end %>
          <input type="button" value="Cancel" />
        </a>
        
    </div>

  <% end #form%>
  
  <% if params[:action] == "edit" %>
      <%= button_to "Delete this record", @osm_shadow, :method=>:delete, :class=>:destroy_button,:confirm=>"Are you sure you want to delete this?" %>
  <% end %>
  

<% end #edit %>

