<%= render 'osm_object' %>
<h1><%= t".h1" %></h1>
<p><a href="<%= url_for(@osm_shadow) %>" title="<%= t".view" %>"><img src="<%= asset_path 'snow/view.png'%>" width="20" />
    <%= t".view2" %></a></p>
<%= render @osm_shadow %>

<ul>
  <li><a href="#" id="jq_expert_view_<%=@osm_shadow.id%>"><%= t"expert" %></a></li>
</ul>
<%= render 'expert_view' %>
