<%= render 'osm_object' %>
<h1><%= t".h1" %></h1>
<p><a href="<%= edit_osm_shadow_path(@osm_shadow) %>" title="<%= t'edit' %>">
    <img src="<%= asset_path 'snow/edit2.png' %>" width="20" /><%= t'edit' %></a></p>

<%= render @osm_shadow %>

<ul>
  <li><a href="#" id="jq_expert_view_<%=@osm_shadow.id%>"><%= t'expert' %></a></li>
</ul>
<%= render 'expert_view' %>
