<h1>Welcome to HOT Data Store</h1>

<h2>Where can you go?</h2>

<ul>
<% if current_user.admin? %>
   <li>
   <%= link_to "User administration", users_path %>
   <br>Add a new user, look at the properties of an user or edit them.
   </li>

   <li>
   <%= link_to "Status page", status_path %>
   <br>Have a look at the application status page.
   </li>
   
   <li>
   <%= link_to "Projects", projects_path %>
   <br />Show, edit and add new projects.
   </li>
<% end %>

<li>
<%= link_to "Tag search", tagsearch_path %>
<br>Search objects by tags.
</li>

<li>
<%= link_to "Map search", mapsearch_path %>
<br>Select a feature by clicking on a map.</li>
</ul>


<h2>Your personal data</h2>
<table class="users">
<tr>
   <th>Name</th>
   <td><%= "#{current_user.firstname} #{current_user.lastname}" %></td>

</tr>
<tr>
  <th>Email</th>
  <td><%= current_user.email %></td></tr>
<tr>
<tr>
   <th>Password</th>
   <td><%= link_to "Change Password", change_password_path %></td>
</tr>
  <th>Projects</th>
  <% if current_user.projects %>
    <td> <%= current_user.projects.map{|projs| projs.name}.join(', ') %> </td>
  <% else %>
    <td>No Projects Found</td>
  <% end %>
</tr>
<% if current_user.admin? %>
<tr>
   <th>Admin rights</th>
   <td><%= current_user.admin %></td>
</tr>
<% end %>
<tr>
  <th>Language</th>
  <td><%= render :partial => "locale" %> </td>
</tr>
</table>
</ul>

