<h1><%= t'.title' %></h1>


<div class="app_status_side">
<h2><%= t'.stats_title' %></h2>
<ul>
   <li><%= t'.num_objects' %> :<%= @cnt_objects %></li>
   <li><%= t'.num_tags' %> : <%= @cnt_tags %></li>
   <li><%= t'.num_users' %> : <%= @cnt_users_active %></li>
</ul>
<h2><%= t'.admins_title' %></h2>
<ul>
   <% @users_admin.each do |u| %>
   <li>
   <%= "#{u.firstname}, #{u.lastname}"%>
   </li>
   <% end %>
</ul>
</div>


<h2><%= t'.last_edits_title' %></h2>
<table class="app_status">
<tr>
  <th><%= t'user_th' %></th>
  <th><%= t'date_th' %></th>
  <th><%= t'.osm_objects' %><br /><%= t'.osm_id_type' %></th>
</tr>

<% @last_edits.each do |c| %>
<tr>
<td><%= "#{c.user.firstname}, #{c.user.lastname}"%></td>
<td><%= c.created_at.strftime("%Y-%m-%d") %></td>
<td>
  <ul>
      <% c.osm_shadows.each do |s| %>
        <li>
          <a href="<%= osm_shadow_path(s) %>" title="<%= t'.show_object' %>">
            <%= "#{s.osm_type} - #{s.osm_id}" %>
          </a>
          <br />
          <% if s.sibling_count %>
            <%= link_to "(#{t('.other_count', :count => s.sibling_count)})", list_shadows_path(s.osm_type, s.osm_id) %>
          <% end  %>
        </li>
      <% end %>
    </ul>
</td>
</tr>
<% end %>

</table>
