<%= form_for(@project,  :html => { :class => "project_form" }) do  | f | %>
  <fieldset>
    <legend><%= t".legend" %></legend>
    <table>
      <tbody>
        <tr>
          <td><%= t"name" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= t".tags_def" %></td>
          <td><%= f.text_area :tags_definition %></td>
        </tr>
        <tr>
          <td><%= t".preset_desc" %></td>
          <td><% if @project.preset_filename %>
              <%= t".current" %>: <%= link_to @project.preset_filename, @project.preset_public_path  %> <br />
          <% end %>
            <%= f.file_field :file_upload %></td>
        </tr>
      </tbody>

    </table>
    <%= f.submit %>
  </fieldset>
<% end %>
<% if params[:action] == "edit" && current_user.admin? %>
  <%= button_to "#{t".deleterec"}", @project, :method=>:delete, :class=>:destroy_button,:confirm=>"#{t".confirm"}" %>
<% end %>
