<div class="project_list_item">
    <h2><%= link_to project.name, project %></h2>
     <a href="<%= edit_project_path(project) %>" title="Edit"><img src="<%= asset_path 'snow/edit2.png' %>" width="20" />Edit</a>
    <ul>
        <li>Name: <%= project.name %> </li>
        <li>Partial: <%= project.partial %> </li>
        <li>Created: <%= time_ago_in_words(project.created_at) %> ago.</li>
    </ul>

</div>
