<script type="text/javascript">
  $(document).ready(function() {
    $('#osm_shadow_results').dataTable({
       "iDisplayLength": 50,
       "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ 0 ] }]
    });
});
</script>
<h1><%= @project.name %> data.</h1>
<p>Lists all the records which have tags relevant to this project</p>
<div class="data_table_container">
  <table class="osm_shadow_results" id="osm_shadow_results">
    <thead>
      <tr>
        <th style="width: 20px;"></th>
        <th style="width: 40px;">Record No.</th>
        <th style="width: 40px;">OSM_ID</th>
        <th style="width: 40px;">OSM_Type</th>
        <% @project.fields.each do | field | %>
          <th><%= field['en'] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%  @shadows.each do |shadow| %>
        <tr>
          <td><a href="<%= osm_shadow_path(shadow["osm_shadow_id"], :change_project => @project) %>" title="View Object"><img src="<%= asset_path 'snow/view.png' %>" width="20" /></a></td>
          <td><%= shadow["osm_shadow_id"] %></td>
          <td><%= shadow["osm_id"] %></td>
          <td><%= shadow["osm_type"] %></td>
          <% shadow["tags"].each do | tag | %>
            <td><%= tag.values[0] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
<%= link_to image_tag(asset_path'snow/data.png')+"Download as CSV (tab separated)", data_project_path(@project, :format=>"csv")  %> <br />
<%= link_to image_tag(asset_path'snow/data.png')+"Download as Excel (XLS)", data_project_path(@project, :format=>"xls")  %>
