<div id="header" style="background-image: url(<%= asset_path 'layout/blue-header.png' %>);">
   <div class="nav">
      <ul>
         <% if signed_in? %>
         <li><%= link_to "#{t".sign_out"}", signout_path, :method => :delete %></li>
         <li><%= link_to "#{t".home"}", home_path %></li>
         <li><%= link_to "#{t".search"}", tagsearch_path %></li>

         <% if current_user.admin? %>
            <li><%= link_to "#{t"users_title"}", users_path %></li>
            <li><%= link_to "#{t"projects_title"}", projects_path %></li>
         <% end %>

         <% else %>
         <li><%= link_to "#{t ".sign_in"}", signin_path %></li>
         <% end %>

         <li><%= link_to "HOT", "http://hot.openstreetmap.org/weblog/" %></li>
      </ul>
   </div>
   <div class="logo">
      <h1><%= t".logohead" %> </h1>
   </div>
</div>

